* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.add-btn {
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid black;
  font-size: 14px;
}
.buy-btn {
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid black;
  font-size: 14px;
}
.card {
  width: 16.6rem;
  height: 360px;
  margin: auto;
  padding: 3px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 1s;
}
.lts a {
  text-decoration: none;
}

.card-img {
  width: 16rem;
  height: 180px;
  text-align: center;
  border-radius: 2px;
}
.card-body {
  width: 16rem;
  height: 200px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}
.card-body button {
  border-radius: 5px;
  color: white;
  margin: 2px;
}
.card-body p {
  margin-bottom: 0rem;
  font-size: 12px;
}
.card-img img {
  width: 16rem;
  height: 180px;
  border-radius: 2px;
}
@media (min-width: 902px) and (max-width: 1240px) {
  /* Custom styles for lg screens only */
  .lgs {
    background-color: lightblue;
  }
}
@media (min-width: 350px) and (max-width: 902px) {
  .lgs {
    padding: 10px;
  }
  .lts {
    margin-bottom: 30px;
  }
  .card {
    width: 9.5rem;
    /* margin:40px; */
    height: 310px;
    margin: auto;
  }
  .card-img {
    width: 9.1rem;
    height: 120px;
  }
  .card-img img {
    width: 9.1rem;
    height: 120px;
  }
  .card-body {
    width: 10rem;
    height: 100px;
    font-size: 8px;
  }
  .card-body button {
    margin: 2px;
    width: 89%;
    border-radius: 5px;
    color: white;
  }
}
